.about .about-content h1 {
    color: var(--text-color);
    font-size: 2.5rem;
}

.about .about-content p {
    font-size: 1.1rem;
}

.about-content {
    text-align: center;
}

.about-content h1 p{
    background: var(--bg-color);
    color: var(--text-color);
}

.about .about-content p {
    text-align: left;
}

.navbar a {
    color: var(--text-color);
}

a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    background: var(--main-color);
}

#darkMode-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}

a .btn{
    display: block; 
    margin-right: auto; 
    margin-left: auto
}

.btn i {
    font-size: 2rem;
}