:root {
  --bg-color: #fffefe;
  --text-color: #272b3a;
  --main-color: #e5472b;
  --white-color: #fffefe;
}

.dark-mode {
  --bg-color: #272b3a;
  --text-color: #fffefe;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: var(--bg-color);
  color: var(--text-color);
}

@media (min-width: 1400px) {
  body {
    width: 1400px;
  }
}

* {
  margin: 0;
  display: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
}

.flags {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 6%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.flags-item {
  margin-bottom: 5px;
  cursor: pointer;
}

.flags img {
  width: 22px;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--text-color);
}

.logo img {
  width: 4rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .home-content {
  max-width: 50%;
}

.home .home-img {
  width: 100%;
  max-width: 25rem;
  height: auto;
  margin-left: auto;
  margin-right: 0;
  display: block;
  margin-bottom: -3rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar a {
  position: relative;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 1.8rem;
  transition: color 0.3s ease;
}

.navbar a.active {
  color: var(--main-color);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--main-color);
}

.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}

.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
  z-index: 20;
}

#darkMode-icon {
  font-size: 1.4rem;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

body.light-mode #darkMode-icon {
  color: var(--text-color);
}

body.dark-mode #darkMode-icon {
  color: var(--white-color);
}

.header .navbar a.active+#darkMode-icon {
  color: var(--text-color) !important;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 0.3;
}

.home-content h1 {
  font-size: 4.3rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.home-content p {
  width: 25rem;
  font-size: 1.2rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.2rem var(--main-color);
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.profession-container {
  position: relative;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profession-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 70px;
  max-width: 1200px;
  width: 100%;
}

.profession {
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--text-color);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profession:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px var(--text-color);
}

.profession i {
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 10px;
}

.profession h3 {
  font-size: 1rem;
  color: var(--main-color);
}

.circle {
  display: none;
  /* Ocultar el círculo si no es necesario */
}

.overlay {
  display: none;
  /* Ocultar la superposición si no es necesaria */
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: var(--bg-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 0.2rem var(--main-color);
  font-size: 1rem;
  color: var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.1rem solid var(--main-color);
  transition: 0.5s ease;
}

.btn:hover {
  background: var(--main-color);
  color: var(--white-color);
  border: 0.1rem solid var(--main-color);
}

.title {
  color: var(--main-color);
}

.title-name {
  color: var(--main-color);
  font-size: 2.5rem;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about .about-img img {
  width: 40vw;
}

.heading {
  font-size: 3.5rem;
  text-align: center;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.2rem;
  margin: 2rem 0 3rem;
}

.services {
  min-height: auto;
  padding-bottom: 5rem;
}

.services h2 {
  margin-bottom: 3rem;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 15rem;
  background: var(--bg-color);
  padding: 1rem 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--text-color);
  text-align: center;
  border-top: 0.3rem solid var(--main-color);
  border-bottom: 0.3rem solid var(--main-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  box-shadow: 0 0.1rem 2rem var(--text-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 4rem;
  color: var(--main-color);
}

.services-box p {
  padding-bottom: 2rem;
}

.services-box h3 {
  font-size: 2rem;
  margin: 1rem 0 1rem;
}

.services-box:hover h3 {
  color: var(--main-color);
}

.portfolio {
  padding-bottom: 5rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  opacity: 1;
}

.portfolio-layer {
  font-size: 2rem;
}

.portfolio-layer p {
  font-size: 1rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--white-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 0.8rem;
  color: var(--main-color);
}

.contact h2 {
  margin-bottom: 1.6rem;
}

.contact form {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.5rem;
  margin: 0.6rem auto;
  box-shadow: 0 0.1rem 0.3rem var(--text-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  height: 11rem;
  resize: none;
}

.contact form .btn {
  margin-top: 1rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}

.footer-text p {
  font-size: 1rem;
  color: var(--white-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--bg-color);
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.footer-iconTop a {
  outline-color: var(--bg-color);
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.footer-iconTop a i {
  font-size: 1.6rem;
  color: var(--main-color);
}

/* BREAKPOINT */
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }

  .home .profession-container {
    height: 55.5rem;
  }

  .home .profession-container .profession-box {
    right: -12rem;
    height: 55.5rem;
  }

  .home .profession-container .overlay {
    right: -9rem;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .home .profession-container .profession-box {
    right: -22rem;
  }

  .home .profession-container .overlay {
    right: -15rem;
  }
}

@media (max-width: 991px) {

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }

  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7%;
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profession-container .profession-box {
    right: -32rem;
  }

  .home .profession-container .overlay {
    right: -22.5rem;
  }

  .home-img img {
    width: 400px;
    margin-left: 200px;
  }

  .services .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }

  .flags {
    top: 6%;
    right: 0;
  }

  .flags img {
    width: 18px;
    height: auto;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  #darkMode-icon {
    right: 6rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2.6rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid var(--text-color);
    box-shadow: 0 0.5rem 1rem var(--text-color);
    display: none;
  }

  .home .home-img {
    display: none;
  }


  .bx-menu,
  .bx-moon {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 1.5rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }

  .navbar a:active {
    color: var(--main-color);
  }

  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 3% 10rem;
    justify-content: center;
    text-align: center;
  }

  .home-content h1 {
    font-size: 4rem;
    margin-top: 8rem;
  }

  .home-content p {
    font-size: 1.5rem;
  }

  .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content .social-media a {
    margin: 3rem 1rem 3rem;
  }

  .profession-box {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
  }

  .profession {
    padding: 15px;
  }

  .profession i {
    font-size: 2.5rem;
  }

  .profession h3 {
    font-size: .8rem;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-content h2 {
    text-align: center;
  }

  .about-img img {
    width: 70vw;
    margin-top: -2rem;
  }

  .services h2,
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .flags {
    top: 20%;
    right: 5%;
  }

  .flags img {
    width: 18px;
    /* Ajusta el tamaño de las banderas según tu preferencia */
    height: auto;
  }
}

@media (max-width: 617px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }

  .flags {
    top: 15%;
    right: 1%;
  }

  .flags img {
    width: 18px;
    height: auto;
  }
}

@media (max-width: 450px) {

  #darkMode-icon {
    right: 6rem;
  }

  .home {
    margin: 0;
    padding: 0;
  }

  .home-content h1 {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-content p {
    font-size: 1.5rem;
  }

  #skills {
    padding-top: 8rem;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer-iconTop a {
    margin-right: 0.5rem;
  }
}

@media (max-width: 375px) {
  #home {
    margin: 0;
    padding: 0;
  }

  .home-content p {
    padding: 20px;
    font-size: 1rem;
  }

  .footer p {
    text-align: left;
    margin-top: 1.5rem;
  }

  .flags {
    top: 15%;
    right: 1%;
  }

  .flags img {
    width: 15px;
    height: auto;
  }
}